$yellow-color: #fcb72b;
$dark_navy-color: #495567;
$dim_grey-color: #939caa;
$white-color: #fff;
$light_grey-color: #e5ecf4;
$snow-color: #f2f5f9;
$light_yellow-color: #fff4df;
$footer-color: #333a44;
